    <!-- off-canvas title bar for 'small' screen -->
    <div class="title-bar" data-responsive-toggle="widemenu" data-hide-for="medium">
      <div class="title-bar-left">
        <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
        <span class="title-bar-title" data-open="offCanvasLeft">Menu </span>
      </div>
      <div class="title-bar-right">
        <span class="subheader">cr | code & blog <i class="mdi mdi-tag-text-outline"></i></span>
      </div>
    </div>

    <!-- off-canvas left menu -->
    <div class="off-canvas position-left reveal-for-large" id="offCanvasLeft" data-off-canvas>
      <h1 align="center" class="subheader"><i class="mdi mdi-desktop-mac"></i> cr | code & blog</h1>
      <img src="../app/img/back3.jpg" alt="" />
      <ul class="vertical dropdown menu" data-dropdown-menu>
        <li>
          <a [routerLink]="['/Home']" data-close="offCanvasLeft">
            <i class="mdi mdi-label-outline"></i> Home
          </a>
        </li>
        <li>
          <a [routerLink]="['/Articles']" data-close="offCanvasLeft">
            <i class="mdi mdi-label-outline"></i> Articles
          </a>
        </li>
        <li>
          <a [routerLink]="['/Categories']" data-close="offCanvasLeft">
            <i class="mdi mdi-label-outline"></i> Categories
          </a>
        </li>
        <li>
          <a [routerLink]="['/About']" data-close="offCanvasLeft">
            <i class="mdi mdi-label-outline"></i> About Me
          </a>
        </li>
        <li>
          <a [routerLink]="['/Contact']" data-close="offCanvasLeft">
            <i class="mdi mdi-label-outline"></i> Contact
          </a>
        </li>
      </ul>
      <span><i class="mdi mdi-source-fork"></i> Developed | Cristian Ramirez </span><br>
      <span><i class="mdi mdi-stackoverflow"></i> Mean Stack | 2016</span>
    </div>

    <!-- "wider" top-bar menu for 'medium' and up -->
    <div id="widemenu" class="top-bar">
      <div class="title-bar-left">
        <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
        <span class="title-bar-title" data-open="offCanvasLeft">Menu </span>
      </div>
      <div class="title-bar-right">
        <span class="subheader">cr | code & blog <i class="mdi mdi-tag-text-outline"></i></span>
      </div>
    </div>
