    <!-- off-canvas left menu -->
    <aside class="menu-canvas" >
      <ul class="vertical dropdown menu" data-dropdown-menu>
        <li>
          <a [routerLink]="['/Home']" data-close="offCanvasLeft">
            <i class="mdi mdi-home"></i> Home
          </a>
        </li>
        <li>
          <a [routerLink]="['/Articles']" data-close="offCanvasLeft">
            <i class="mdi mdi-apps"></i> Articles
          </a>
        </li>
        <li>
          <a [routerLink]="['/Categories']" data-close="offCanvasLeft">
            <i class="mdi mdi-camera-iris"></i> Categories
          </a>
        </li>
        <li>
          <a [routerLink]="['/About']" data-close="offCanvasLeft">
            <i class="mdi mdi-clipboard-account"></i> About Me
          </a>
        </li>
        <li>
          <a [routerLink]="['/Contact']" data-close="offCanvasLeft">
            <i class="mdi mdi-contact-mail"></i> Contact
          </a>
        </li>
        <li>
          <a [routerLink]="['/ManagementContainer']" data-close="offCanvasLeft">
            <i class="mdi mdi-settings"></i> Management
          </a>
        </li>
      </ul>

      <div class="row">
        <div class="small-12 small-centered columns">
          <div class="info">
            <hr>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12">
          <div class="info">
            <div class="small-8 column">
              <div class="row">
                <span style="font-weight:bold;">Log Out</span>
              </div>
              <div class="row">
                <span>Cristian Ramirez</span>
              </div>
            </div>
            <div class="small-4 column">
              <div class="sidebar-img">
                <img src="https://scontent-yyz1-1.xx.fbcdn.net/hphotos-xta1/v/t1.0-9/12391401_10205352774164365_8260866082331820551_n.jpg?oh=adf2b96d511b59368adfeac14203c9a9&oe=575B1354">
              </div>
            </div>
          </div>
        </div>
      </div>

    </aside>
