<br>
  <div class="column tools">

    <div class="row ">
      <manage-head
        [type]="'managementTop'"
        [section]=""
        [user]="'Cristian Ramirez'">
      </manage-head>
    </div>

    <div class="row ">

        <div class="small-12 medium-8 medium-centered large-6 large-centered column" *ngFor="#tool of managementTools">

          <div class="callout">
            <div class="media-object">
              <div class="media-object-section">
                <div class="thumbnail">
                  <img src= "{{tool.img}}">
                </div>
              </div>
              <div class="media-object-section">
                <div class="tool-title">
                  <p class="lead">
                   <i class="mdi mdi-view-carousel"></i> {{tool.title}}
                  </p>
                </div>

                <div class="tool-img">
                  <!-- <img src="{{tool.img}}" alt="image of a planet called Pegasi B"> -->
                </div>

                <div class="tool-detail">
                  <span class="label"><i class="mdi mdi-rocket"></i> Number of  {{tool.title}}: {{tool.num}}</span>
                  <span class="label"><i class="mdi mdi-calendar"></i> Last modification: {{tool.date}}</span>
                  <span class="label"><i class="mdi mdi-account"></i> Last user: {{tool.user}}</span>
                </div>

                <a class="button hollow" (click)="openSection(tool.link)"><i class="mdi mdi-settings"></i> Configure</a>
                <a class="button hollow" (click)="deleteSection(tool.link)"><i class="mdi mdi-delete"></i> Delete</a>
              </div>
            </div>
          </div>

        </div>

    </div>

</div>
