<br>
  <div class="post-management">

    <div class="row column">
      <manage-head
        [type]="'management-category'"
        [section]="Category"
        [user]="'Cristian Ramirez'">
      </manage-head>
    </div>

    <div class="row column">
      <div class="callout">

        <div class="small-12 columns small-centered"  >
          <article class="event" *ngFor="#category of getCategories | async">

              <div class="event-desc">
                <h4 contenteditable="true" class="event-desc-header">{{category.title}}</h4>
                <p class="event-desc-detail">
                  <span class="event-desc-time">
                    <i class="mdi mdi-account"></i>
                    <span contenteditable="true">{{category.description}}</span>
                  </span>
                </p>
                <div class="row action">
                  <a class="button small hollow" (click)="openCategory(category._id)"><i class="mdi mdi-settings"></i> Edit</a>
                  <a class="button small hollow" (click)="deleteCategory(category._id)"><i class="mdi mdi-delete"></i> Delete</a>
                </div>
              </div>

            </article>



        </div>
      </div>
    </div>

</div>
