<div class="add-edit-post">
   <br>
   <!-- Contact Details -->
   <div class="row column">
     <manage-head
       [type]="'category-edit'"
       [section]="Category"
       [user]="'Cristian Ramirez'">
     </manage-head>
   </div>
   <div class="row column">
      <div class="callout">
         <div class="small-12 columns small-centered"  >
            <form novalidate>
               <div class="row">
                  <div class="large-2 columns">
                     <label class="inline">Category name</label>
                  </div>
                  <div class="large-10 columns">
                     <input type="text" id="title" [ngFormControl]="group.find('title')" [(ngModel)]="category.title" placeholder="Article name">
                  </div>
               </div>
               <label>Content</label>
               <textarea rows="4" id="description" [ngFormControl]="group.find('description')" [(ngModel)]="category.description"></textarea>


               <div class="action">
                 <div class="button-group">
                    <a *ngIf="id == 0" class="hollow button" (click)="submitForm()">Submit</a>
                    <a *ngIf="id != 0" class="hollow button" (click)="updateForm()">Update</a>
                  </div>
               </div>

            </form>
         </div>
      </div>
   </div>

</div>
<!-- End Contact Details -->
