
<div class="row">

  <div class="medium-12 columns back1">
    <div class="text">
      <h1>
        Explore The World of Development
        <i class="mdi mdi-compass-outline"></i>
      </h1>
      <h3 align="center"><i class="mdi mdi-arrow-right-bold-circle-outline"></i> One API at the time.</h3>
    </div>
    <img class="show-for-small-only" src="../app/img/back6.jpg" alt="picture of space">
    <img class="show-for-medium" src="../app/img/background3.jpg" alt="picture of space">
  </div>

</div>
